doctype html
html(lang='ru')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='HandheldFriendly', content='True')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/logoblue.png')
    include fbpixel.html
  body
    block content
