.st0{fill:#63BEDD;}
.st1{fill:#A0AFB5;}
.st2{fill:#A0AFB5;stroke:#737F84;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:#FFFFFF;}
.st4{fill:none;stroke:#A0AFB5;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:#37A0E5;}
.st6{fill:#4AD3AC;}
.st7{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st8{fill:#FBB03B;}
.st9{fill:none;stroke:#F96155;stroke-width:2;stroke-miterlimit:10;}
.st10{fill:#F96155;}
.st11{fill:#F9F9F9;stroke:#737F84;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.st12{fill:#E2E6E8;stroke:#737F84;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
